body {
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: #212529;
}
/* .thead{
  background-color: blue;
} */
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.search input{
  width: 280px;
  height: 45px;
  font-size: 20px;
  padding-left: 8px;
  border-radius: 5px;
  border: none;
}
.search h1{
  color: white;
  margin-bottom: 10px;
}
